@import "tailwindcss";

@theme {
    --color-primary:
        #6F49BD;
    --color-secondary:
        #ADA9BA;
    --color-dark-secondary:
        #ADA2B5;
    --color-dark-primary:
        #400080;
    --color-secondary-complement:
        #F6F3FC;
    --color-primary-text:
        #22222E;
    --font-family-primary:
        'Lufga', sans-serif;

}

#root {
    padding: 0;
    margin: 0;
}

.ant-tree .ant-tree-checkbox-checked .ant-tree-checkbox-inner {
    background-color: var(--color-primary) !important;
    border-color: var(--color-dark-primary) !important;
}

.ant-tree .ant-tree-checkbox:hover .ant-tree-checkbox-inner {
    border-color: var(--color-primary) !important;
}

@font-face {
    font-family: 'Lufga';
    src: url('./fonts/LufgaRegular.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Lufga', sans-serif;
}